.profile-list {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 8px;
  margin-bottom: 4px;
  margin-left: 8px;
}

.list-profile-pic {
  width: 32px;
  height: 32px;
  background-color: black;
  border-radius: 100%;
}

.list-profile-id {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

#list-profile-recommend-id {
  font-size: 14px;
  font-weight: 600;
  color: #262626;
  margin-bottom: 4px;
}

#list-profile-recommend-sub {
  font-size: 12px;
  font-weight: 400;
  color: #8E8E8E;
}

.blank {
  flex: 1;
}

.list-profile-follow-button {
  font-size: 12px;
  font-weight: 600;
  color: #0095F6;
}