.story-profile {
  width: 75px;
  height: 120px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#story-profile-pic {
  width: 57px;
  height: 57px;
  background-color: black;
  border-radius: 100%;
}

#story-id {
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 8px;
  font-size: 12px;
  font-weight: 400;
}